@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #101114;
}
::selection {
  background-color: #ccff00;
  color: #101114;
}
